@import url("css reset.css");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --darkslategray: hsl(215, 18%, 24%);
}

@font-face {
  font-family: "overpass";
  src: url("font/Overpass-Regular.ttf");
}

body {
  background-color: var(--very-dark-blue);
  font-family: "overpass";
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 20vh 7vw;
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
}

/* used in icon-star and buttons*/
.circular-darkslategray {
  background-color: var(--darkslategray);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

#icon-star {
  padding-top: 0.75rem;
  padding-left: 0.75rem;
}

.title {
  color: var(--white);
  font-weight: 700;
  font-size: x-large;
}

.support-text {
  font-size: smaller;
  color: var(--medium-grey);
}

.buttons {
  display: flex;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  justify-content: space-between;
}

.buttons button {
  border: 0rem;
  color: var(--light-grey);
  font-size: smaller;
  transition: background-color 0.5s, color 0.5s;
}

.buttons button:hover, .buttons button:focus {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
}

#submit {
  color: var(--white);
  background-color: var(--orange);
  padding: 0.4rem;
  border: 0rem;
  border-radius: 2rem;
  width: 100%;
  max-width: 30rem;
  margin: 0.7rem auto 0 auto;
}

#submit:hover {
  cursor: pointer;
}

#submit:active {
  translate: 0rem 0.1rem;
}

#submit:focus {
  background-color: rgba(150, 184, 200, 0.379);
}

/* related to thankyou.html */
#thankyou-main {
  align-items: center;
}

.select-result {
  background-color: var(--darkslategray);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  color: var(--orange);
  font-size: 0.95rem;
}
